
# Created by https://www.toptal.com/developers/gitignore/api/python,pydev,pycharm+all,jupyternotebooks,venv,vscode,visualstudiocode,macos,vim,emacs,linux,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=python,pydev,pycharm+all,jupyternotebooks,venv,vscode,visualstudiocode,macos,vim,emacs,linux,windows

# Credentials
resources/fitbitCredentials/credentials.txt
# Persoonlijke data
resources/persoonlijke_data/hoofdpijndagboek.numbers
#cdk.out
cdk.out/*

### Emacs ###
# -*- mode: gitignore; -*-
.DS_Store
.idea
/.DS_Store
/.idea
.vscode/*